aiohttp==3.7.4.post0
async-timeout==3.0.1
beautifulsoup4==4.9.3
chardet==4.0.0
firebase-admin==5.0.1
gcloud==0.18.3
Jinja2==3.0.1
packaging==20.9
Pillow==8.1.0
pipreqs==0.4.10
py==1.10.0
pycryptodome==3.10.1
pymongo==3.11.4
python-dotenv==0.17.1
requests==2.25.1
requests-toolbelt==0.9.1
soupsieve==2.2
sseclient==0.0.27
Unidecode==1.2.0
urllib3==1.26.3
yarl==1.6.3